#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.medium-Img {
  height: 250px;
  width: 350px;
  margin: 5px;
}

.fact {
  display: none;
}

.fact.visible {
  display: block;
}

#comments-container {
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

#comments-buttons {
  align-items: center;
  padding-top: 10px;
  padding-right: 5px;
}

#comment-text-field {
  width: 600px;
}

#map-container {
  height: 600px;
}