#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.medium-Img {
  height: 250px;
  width: 350px;
  margin: 5px;
}

.fact {
  display: none;
}

.fact.visible {
  display: block;
}

#message-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-button {
  background-color: blueviolet;
  color: white;
}